@mixin border {
    border: 1px solid black;
}

@mixin flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin box-shadow($num) {
    @if($num==0) {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    @else if($num==1) {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    @else if($num==2) {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    @else if($num==3) {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    @else if($num==4) {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    @else if($num==5) {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    @else if($num==6) {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    @else if($num==7) {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    }
    @else if($num==8) {
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
    @else if($num==9) {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    @else if($num==10) {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    @else if($num==11) {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
    @else if($num==12) {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    @else if($num==13) {
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
    @else if($num==14) {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    @else if($num==15) {
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    @else if($num==16) {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    @else if($num==17) {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    @else if($num==18) {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    @else if($num==19) {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    @else if($num==20) {
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    @else if($num==21) {
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }
    @else if($num==22) {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    @else if($num==23) {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    @else if($num==24) {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }
    @else if($num==25) {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    @else if($num==26) {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    @else if($num==27) {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    @else if($num==28) {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    @else if($num==29) {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    @else if($num==30) {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
    @else if($num==31) {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    @else if($num==32) {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
    @else if($num==33) {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    @else if($num==34) {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    }
    @else if($num==35) {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    }
    @else if($num==36) {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }
    @else if($num==37) {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
    @else if($num==38) {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
    @else if($num==39) {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }
    @else if($num==40) {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }
    @else if($num==41) {
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    }
    @else if($num==42) {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }
    @else if($num==43) {
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }
    @else if($num==44) {
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    @else if($num==45) {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    }
    @else if($num==46) {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    }
    @else if($num==47) {
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    }
    @else if($num==48) {
        box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    }
    @else if($num==49) {
        box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    }
    @else if($num==50) {
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    }
    @else if($num==51) {
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    }
    @else if($num==52) {
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    }
    @else if($num==53) {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    }
    @else if($num==54) {
        box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    }
    @else if($num==55) {
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    }
    @else if($num==56) {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
    @else if($num==57) {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }
    @else if($num==58) {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    }
    @else if($num==59) {
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    }
    @else if($num==60) {
        box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
    }
    @else if($num==61) {
        box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    }
    @else if($num==62) {
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }
    @else if($num==63) {
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }
    @else if($num==64) {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    }
    @else if($num==65) {
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    }
    @else if($num==66) {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
    @else if($num==67) {
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }
    @else if($num==68) {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }
    @else if($num==69) {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    }
    @else if($num==70) {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }
    @else if($num==71) {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    }
    @else if($num==72) {
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    }
    @else if($num==73) {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    }
    @else if($num==74) {
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }
    @else if($num==75) {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    }
    @else if($num==76) {
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    }
    @else if($num==77) {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    }
    @else if($num==78) {
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    }
    @else if($num==79) {
        box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    }
    @else if($num==80) {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    }
    @else if($num==81) {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    }
    @else if($num==82) {
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
    @else if($num==83) {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    }
    @else if($num==84) {
        box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    }
    @else if($num==85) {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }
    @else if($num==86) {
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    }
    @else if($num==87) {
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    @else if($num==88) {
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
    @else if($num==89) {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    @else if($num==90) {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    }
    @else if($num==91) {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    }
    @else if($num==92) {
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    }
    @else if($num==93) {
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    }
}

@mixin transition {
    transition: all 0.3s ease-in-out;
}

@mixin arrow-bottom {
    &::after {
        content: '\f0d7';
        font-family: $font-awesome;
        position: absolute;
    }
}

@mixin arrow-bottom-2 {
    &::after {
        content: '\f107';
        font-family: $font-awesome;
        position: absolute;
    }
}

@mixin arrow-bottom-3 {
    &::after {
        content: '\f0dc';
        font-family: $font-awesome;
        position: absolute;
    }
}

@mixin arrow-right {
    &::after {
        content: '\f0da';
        font-family: $font-awesome;
    }
}

@mixin button-arrow {
    &::after {
        content: '\f30b';
        font-family: $font-awesome;
    }
}

@mixin arrow-up {
    &::after {
        content: '\f106';
        font-family: $font-awesome;
    }
}